@font-face {
  font-family: "iconfont"; /* Project id 2954892 */
  src: url('//at.alicdn.com/t/font_2954892_26huhweiqu2.woff2?t=1637762147747') format('woff2'),
       url('//at.alicdn.com/t/font_2954892_26huhweiqu2.woff?t=1637762147747') format('woff'),
       url('//at.alicdn.com/t/font_2954892_26huhweiqu2.ttf?t=1637762147747') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shizhongfill:before {
  content: "\e74e";
}

.icon-confused-:before {
  content: "\e60d";
}

.icon-geek:before {
  content: "\e619";
}

.icon-gentleman-:before {
  content: "\e61a";
}

.icon-happy-:before {
  content: "\e621";
}

.icon-biaoqing2:before {
  content: "\e650";
}

.icon-maimeng:before {
  content: "\e60a";
}

.icon-kulian:before {
  content: "\e60b";
}

.icon-biaoqing:before {
  content: "\e60c";
}

.icon-biaoqing1:before {
  content: "\e666";
}

.icon-chijing:before {
  content: "\e600";
}

.icon-dai:before {
  content: "\e601";
}

.icon-mogui:before {
  content: "\e602";
}

.icon-ganga:before {
  content: "\e603";
}

.icon-qin:before {
  content: "\e604";
}

.icon-nu:before {
  content: "\e605";
}

.icon-zhayan:before {
  content: "\e606";
}

.icon-shengqi:before {
  content: "\e607";
}

.icon-ma:before {
  content: "\e608";
}

.icon-bishi:before {
  content: "\e609";
}
